body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #333;
}

#color-box {
    width: 200px;
    height: 200px;
    background-color: #226D68; /* Couleur par défaut */
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#change-color-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #233E8B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#change-color-btn:hover {
    background-color: #1EAE98;
}
